::ng-deep  .penaltiesButton .p-button {
  width: 100%;
  background: var(--color-principal) !important;
}

::ng-deep .penaltiesButton .p-button:hover {
	background: var(--color-principal-dark) !important;
}

.p-datatable-tbody > tr:hover > td {
  background: rgba(203, 213, 225, 0.45) !important;
}

.dark .p-datatable-tbody > tr:hover > td {
  background: rgba(148, 163, 184, 0.9) !important;
}

.dark .p-divider-content {
  background-color: var(--color-slate-700);
}

.p-divider-content {
  background-color: var(--color-white);
}

.noPenaltiesButton .p-button-icon {
  font-size: 0.65rem !important;
  margin-top: 0.1rem;
}