:host {
  .fantasyHeader .p-iconwrapper {
    color: white;
  }
  
  .bolloHeader .p-iconwrapper {
    color: white;
  }
}

.p-menubar {
  border: 0 !important;
  border-radius: 0 !important;
  height: 4rem;
  justify-content: space-between;
}

.p-menubar-item:not(.p-disabled) > .p-menubar-item-content:hover {
  background: transparent !important;
}

.p-menubar li.p-focus .p-menubar-item-content {
  background: transparent !important;
}

.p-menubar-item.p-focus {
  background: transparent !important;
}

.p-menubar-root-list {
  gap: 0.75rem !important;
}

.p-menubar-mobile .p-menubar-root-list {
  border: none;
}

.p-menubar-end {
  margin: 0;
}

.header-button button.p-ripple.p-button.p-component.p-button-icon-only {
  width: 2.40rem;
  padding: 0.70rem 0;
}

.fantasyHeaderButton .p-button {
  background: var(--color-fantasy-principal) !important;
}

.fantasyHeaderButton .p-button:hover {
  background: var(--color-fantasy-principal-dark) !important;
}

.bolloHeaderButton .p-button {
  background: var(--color-principal) !important;
}

.bolloHeaderButton .p-button:hover {
  background: var(--color-principal-dark) !important;
}

.fantasyHeader.p-menubar {
  background-image: linear-gradient(to right, var(--color-fantasy-principal), var(--color-fantasy-principal-dark));
}

.bolloHeader.p-menubar {
  background-image: linear-gradient(to right, var(--color-principal), var(--color-principal-dark));
}

.fantasyHeader .p-menubar-active {
  background-color: var(--color-fantasy-principal-darkest);
}

.bolloHeader .p-menubar-active {
  background-color: var(--color-principal-darkest);
}

.p-menubar-active {
  border-radius: 0.5rem;
}

.fantasyHeader .p-menubar-mobile .p-menubar-root-list {
  background-image: linear-gradient(to right, var(--color-fantasy-principal), var(--color-fantasy-principal-dark));
}

.bolloHeader .p-menubar-mobile .p-menubar-root-list {
  background-image: linear-gradient(to right, var(--color-principal), var(--color-principal-dark));
}

.fantasyHeader .p-menubar-button:hover {
  background: var(--color-fantasy-principal-darkest);
}

.bolloHeader .p-menubar-button:hover {
  background: var(--color-principal-darkest);
}

.dark .header-button .p-button  {
	background: var(--color-slate-900) !important;
}

.header-button .p-button  {
	min-width: auto;
}

.fantasyHeader .p-menubar-item-link:hover {
  background: color-mix(in oklab, var(--color-blue-500)50%, transparent);
}

.bolloHeader .p-menubar-item-link:hover {
  background: color-mix(in oklab, var(--color-red-500)50%, transparent);
}

