.p-popover {
  background: var(--p-slate-100);
  border-color: var(--p-slate-500);
  transform: translate(-12%, 0) !important;
}

.p-popover:before {
  border-bottom-color: var(--p-slate-500);
}

.p-popover:after {

  border-bottom-color: var(--p-slate-100);
}

.dark .p-popover {
  background: var(--p-slate-900);
}

.dark .p-popover:after {
  border-bottom-color: var(--p-slate-900);
}