@use "../settings/colors";

.bg-Red_Bull {
  background-color: colors.$colorRedBull;
}

.bg-AlphaTauri {
  background-color: colors.$colorAlphaTauri;
}

.bg-Ferrari {
  background-color: colors.$colorFerrari;
}

.bg-Mercedes {
  background-color: colors.$colorMercedes;
}

.bg-Aston_Martin {
  background-color: colors.$colorAston;
}

.bg-Williams {
  background-color: colors.$colorWilliams;
}

.bg-Haas {
  background-color: colors.$colorHaas;
}

.bg-McLaren {
  background-color: colors.$colorMcLaren;
}

.bg-Alfa_Romeo {
  background-color: colors.$colorAlfa;
}

.bg-Alpine {
  background-color: colors.$colorAlpine;
}

.bg-Kick_Sauber {
  background-color: colors.$colorKickSauber;
}

.bg-RB {
  background-color: colors.$colorRB;
}

.color-Red_Bull {
  color: colors.$colorRedBull;
}

.color-AlphaTauri {
  color: colors.$colorAlphaTauri;
}

.color-Ferrari {
  color: colors.$colorFerrari;
}

.color-Mercedes {
  color: colors.$colorMercedes;
}

.color-Aston_Martin {
  color: colors.$colorAston;
}

.color-Williams {
  color: colors.$colorWilliams;
}

.color-Haas {
  color: colors.$colorHaas;
}

.color-McLaren {
  color: colors.$colorMcLaren;
}

.color-Alfa_Romeo {
  color: colors.$colorAlfa;
}

.color-Alpine {
  color: colors.$colorAlpine;
}

.color-Kick_Sauber {
  color: colors.$colorKickSauber;
}

.color-RB {
  color: colors.$colorRB;
}

.bg-Fantasy-Red_Bull {
  background: colors.$colorRedBull;
}

.bg-Fantasy-AlphaTauri {
  background: colors.$colorAlphaTauri;
}

.bg-Fantasy-Ferrari {
  background: colors.$colorFerrari;
}

.bg-Fantasy-Mercedes {
  background: colors.$colorMercedes;
}

.bg-Fantasy-Aston_Martin {
  background: colors.$colorAston;
}

.bg-Fantasy-Williams {
  background: colors.$colorWilliams;
}

.bg-Fantasy-Haas {
  background: colors.$colorHaas;
}

.bg-Fantasy-McLaren {
  background: colors.$colorMcLaren;
}

.bg-Fantasy-Alfa_Romeo {
  background: colors.$colorAlfa;
}

.bg-Fantasy-Alpine {
  background: colors.$colorAlpine;
}

.bg-Fantasy-Kick_Sauber {
  background: colors.$colorKickSauber;
}

.bg-Fantasy-RB {
  background: colors.$colorRB;
}

.border-Red_Bull {
  border-color: colors.$colorRedBull !important;
}

.border-AlphaTauri {
  border-color: colors.$colorAlphaTauri !important;
}

.border-Ferrari {
  border-color: colors.$colorFerrari !important;
}

.border-Mercedes {
  border-color: colors.$colorMercedes !important;
}

.border-Aston_Martin {
  border-color: colors.$colorAston !important;
}

.border-Williams {
  border-color: colors.$colorWilliams !important;
}

.border-Haas {
  border-color: colors.$colorHaas !important;
}

.border-McLaren {
  border-color: colors.$colorMcLaren !important;
}

.border-Alfa_Romeo {
  border-color: colors.$colorAlfa !important;
}

.border-Alpine {
  border-color: colors.$colorAlpine !important;
}

.border-Kick_Sauber {
  border-color: colors.$colorKickSauber !important;
}

.border-RB {
  border-color: colors.$colorRB !important;
}

.progress-Red_Bull {
  .p-progressbar-value {
    background-color: colors.$colorRedBull;
  }
}

.progress-AlphaTauri {
  .p-progressbar-value {
    background-color: colors.$colorAlphaTauri;
  }
}

.progress-Ferrari {
  .p-progressbar-value {
    background-color: colors.$colorFerrari;
  }
}

.progress-Mercedes {
  .p-progressbar-value {
    background-color: colors.$colorMercedes;
  }
}

.progress-Aston_Martin {
  .p-progressbar-value {
    background-color: colors.$colorAston;
  }
}

.progress-Williams {
  .p-progressbar-value {
    background-color: colors.$colorWilliams;
  }
}

.progress-Haas {
  .p-progressbar-value {
    background-color: colors.$colorHaas;
  }
}

.progress-McLaren {
  .p-progressbar-value {
    background-color: colors.$colorMcLaren;
  }
}

.progress-Alfa_Romeo {
  .p-progressbar-value {
    background-color: colors.$colorAlfa;
  }
}

.progress-Alpine {
  .p-progressbar-value {
    background-color: colors.$colorAlpine;
  }
}

.progress-Kick_Sauber {
  .p-progressbar-value {
    background-color: colors.$colorKickSauber;
  }
}

.progress-RB {
  .p-progressbar-value {
    background-color: colors.$colorRB;
  }
}







.hover-bg-Red_Bull:hover {
  background-color: colors.$colorRedBull;
}

.hover-bg-AlphaTauri:hover {
  background-color: colors.$colorAlphaTauri;
}

.hover-bg-Ferrari:hover {
  background-color: colors.$colorFerrari;
}

.hover-bg-Mercedes:hover {
  background-color: colors.$colorMercedes;
}

.hover-bg-Aston_Martin:hover {
  background-color: colors.$colorAston;
}

.hover-bg-Williams:hover {
  background-color: colors.$colorWilliams;
}

.hover-bg-Haas:hover {
  background-color: colors.$colorHaas;
}

.hover-bg-McLaren:hover {
  background-color: colors.$colorMcLaren;
}

.hover-bg-Alfa_Romeo:hover {
  background-color: colors.$colorAlfa;
}

.hover-bg-Alpine:hover {
  background-color: colors.$colorAlpine;
}

.hover-bg-Kick_Sauber:hover {
  background-color: colors.$colorKickSauber;
}

.hover-bg-RB:hover {
  background-color: colors.$colorRB;
}