::ng-deep .p-textarea:enabled:focus {
  border: none;
}

::ng-deep .dark .p-textarea {
  border: none;
  background: var(--color-slate-600);
}

::ng-deep .p-textarea {
  border: none;
  background: var(--color-slate-200);
}