::ng-deep .registerFantasyButton .p-button {
  background: var(--color-fantasy-principal) !important;
  width: 100%;
}

::ng-deep .registerFantasyButton .p-button:hover {
  background: var(--color-fantasy-principal-dark) !important;
}