<div class="w-full bg-gradient-to-br from-slate-100 via-slate-200 to-slate-300 dark:from-slate-700 dark:via-slate-800 dark:to-slate-900">
	<div class="flex items-center justify-center container h-[calc(100vh-10rem)] mx-auto">
		<div
			class="w-full max-w-md bg-white/95 dark:bg-slate-900/95 backdrop-blur-sm rounded-2xl p-8 shadow-2xl dark:border dark:border-slate-500 dark:border-slate-700 space-y-6">
			<h1 class="text-2xl font-bold italic uppercase mb-2 text-center mb-8">Iniciar sesión</h1>
			<form [formGroup]="recoverPasswordForm" class="space-y-6">
				<div class="space-y-2">
					<p class="text-gray-700 dark:text-white text-sm font-medium">Nueva contraseña</p>
					<p-iconfield>
						<p-inputicon class="pi pi-lock text-gray-400" />
						<input
							[type]="showPassword1 ? 'text' : 'password'"
							pInputText
							formControlName="password1"
							placeholder="Contraseña"
							class="h-10 w-full text-white" />
						@if (showPassword1) {
							<p-inputicon
								class="pi pi-eye-slash text-gray-400 cursor-pointer"
								(click)="showPassword1 = !showPassword1"
								onkeydown="showPassword1 = !showPassword1" />
						} @else {
							<p-inputicon
								class="pi pi-eye text-gray-400 cursor-pointer"
								(click)="showPassword1 = !showPassword1"
								onkeydown="showPassword1 = !showPassword1" />
						}
					</p-iconfield>
					@if (recoverPasswordForm.get('password1')?.invalid && recoverPasswordForm.get('password1')?.dirty) {
						<span class="text-xs sm:text-sm text-red-600 dark:text-red-400">Necesitas poner la contraseña</span>
					}
				</div>
				<div class="space-y-2">
					<p class="text-gray-700 dark:text-white text-sm font-medium">Repite la Contraseña</p>
					<p-iconfield>
						<p-inputicon class="pi pi-lock text-gray-400" />
						<input
							[type]="showPassword2 ? 'text' : 'password'"
							pInputText
							formControlName="password2"
							placeholder="Contraseña"
							class="h-10 w-full text-white" />
						@if (showPassword2) {
							<p-inputicon
								class="pi pi-eye-slash text-gray-400 cursor-pointer"
								(click)="showPassword2 = !showPassword2"
								onkeydown="showPassword2 = !showPassword2" />
						} @else {
							<p-inputicon
								class="pi pi-eye text-gray-400 cursor-pointer"
								(click)="showPassword2 = !showPassword2"
								onkeydown="showPassword2 = !showPassword2" />
						}
					</p-iconfield>
					@if (
						recoverPasswordForm.get('password2')?.invalid &&
						recoverPasswordForm.get('password2')?.dirty &&
						recoverPasswordForm.get('password1')?.value === recoverPasswordForm.get('password2')?.value
					) {
						<span class="text-xs sm:text-sm text-red-600 dark:text-red-400">Necesitas poner la contraseña</span>
					}
					@if (
						recoverPasswordForm.get('password2')?.invalid &&
						recoverPasswordForm.get('password2')?.dirty &&
						recoverPasswordForm.get('password2')?.value != recoverPasswordForm.get('password1')?.value
					) {
						<span class="text-xs sm:text-sm text-red-600 dark:text-red-400">La contraseña debe ser igual a la anterior</span>
					}
				</div>
			</form>
			<div class="flex w-full">
				<p-button
					label="Cambiar Contraseña"
					[disabled]="recoverPasswordForm.invalid"
					class="text-white mt-6 w-full!"
					(click)="recoverPassword()"
					onkeydown="recoverPassword()"></p-button>
			</div>
		</div>
	</div>
</div>
