:host {
  .saveResults .p-button {
    background: var(--color-principal) !important;
  }

  .saveResults .p-button:hover {
    background: var(--color-principal-dark) !important;
  }

  .p-divider-horizontal {
    margin: 2rem 0;
  }

  .deleteResults .p-button {
    background: var(--color-black) !important;
    color: var(--color-red-400);
    border: 1px var(--color-red-400) solid; 
  }

  .deleteResults .p-button:hover {
    background: var(--color-principal) !important;
    color: var(--color-white);
    border: 1px var(--color-red-400) solid; 
  }
}

::ng-deep.p-divider-content {
  background: transparent !important;
}