:host {
  .p-button {
    background: var(--color-fantasy-principal) !important;
  }

  .p-button:hover {
    background: var(--color-fantasy-principal-dark) !important;
  }

  .p-dialog {
    overflow: hidden;
    border: none;
  }

  .p-dialog-header {
    background: var(--color-fantasy-principal);
  }

  .p-dialog-header .p-button {
    color: var(--color-white);
  }

  .p-dialog-header .closeDialog .p-button:hover {
    background: var(--color-blue-400) !important;
  }
}

.p-datatable-thead > tr > th {
  border-width: 1px 0;
}

.p-datatable-thead > tr > th:first-child {
  border-width: 1px 0 1px 4px;
}

.p-datatable-thead > tr:last-child {
  background-color: red !important;
}

.p-dialog .closeDialog .p-button {
  background: transparent !important;
  padding: 0.35rem;
  border-radius: 50%;
}

.p-dialog .closeDialog .p-button:hover {
  background: var(--color-slate-100) !important;
}

.dark .p-dialog .closeDialog .p-button:hover {
  background: var(--color-slate-900) !important;
}