<form [formGroup]="seasonForm">
	<p-select
		formControlName="season"
		[options]="seasons"
		optionLabel="name"
		dataKey="id"
		class="rounded-lg text-sm bg-slate-100! dark:bg-slate-600! w-full xs:min-w-[184px] border-0! shadow-md!">
		<ng-template pTemplate="item" let-season>
			<div class="flex items-center gap-2">
				@if (season.name === seasonForm.get('season')?.value.name) {
					<i class="pi pi-check" style="font-size: 14px"></i>
				} @else {
					<div class="w-[14px]"></div>
				}
				<div>{{ season.name }}</div>
			</div>
		</ng-template>
	</p-select>
</form>
